/* hr-thickness-local.css */
/* Obsidian 읽기모드 전용 - 연속 hr 굵기 조절 */

hr.hr-thick-1 {
  height: 2px;
  background-color: #88DFD0;
  border: none;
  margin: 1em 0 !important;
}

hr.hr-thick-2 {
  height: 6px;
  background-color: #88DFD0;
  border: none;
  margin: 1em 0 !important;
}

hr.hr-thick-3 {
  height: 10px;
  background-color: #88DFD0;
  border: none;
  margin: 1em 0 !important;
}

/* 표 강조용 텍스트 색상 및 굵기 스타일 */
span.table-highlight {
  color: var(--color-accent-header, #87DFD0) !important;
  font-weight: bold;
}

span.hi-red {
  color: var(--color-accent-header, #BF8383) !important;
  font-weight: bold;
}

span.hi-blue {
  color: #87DFD0 !important;
  font-weight: bold;
}

span.hi-green {
  color: #95C69E !important;
  font-weight: bold;
}

span.hi-yellow {
  color: #FFD700 !important;
  font-weight: bold; 
}